wheel
certifi>=2023.7.22
charset-normalizer==2.1.1
ffmpeg-python==0.2.0
filelock==3.8.0
future==0.18.3
huggingface-hub>=0.10.0
idna==3.4
librosa>=0.9.1
more-itertools>=8.14.0
numpy
packaging==21.3
pyparsing==3.0.9
PyYAML==6.0
regex==2022.9.13
requests>2.28.2
setuptools
sentence_transformers
timecode==1.3.1
tokenizers
torch
torchaudio
onnxruntime
tqdm
transformers>4.33.3
typing_extensions==4.7
urllib3
openai-whisper @ git+https://github.com/openai/whisper.git@ba3f3cd54b0e5b8ce1ab3de13e32122d0d5f98ab
dtw-python
resampy
openai>=1.8.0
spacy>=3.0.0
spacy-langdetect
clip @ git+https://github.com/openai/CLIP.git@a9b1bf5920416aaeaec965c25dd9e8f98c864f16
opencv-python
patchify
darkdetect
customtkinter @ git+https://github.com/octimot/CustomTkinter.git@a2a8c37dd8dac1dee30133476596a5128adb0530
ftfy
moviepy
scikit-image
scipy
pydantic==1.10.8
speechbrain==0.5.16
pyannote.audio>=2.0.1