wheel
certifi==2022.9.24
charset-normalizer==2.1.1
ffmpeg-python==0.2.0
filelock==3.8.0
future==0.18.3
huggingface-hub>=0.10.0
idna==3.4
librosa>=0.9.1
more-itertools>=8.14.0
numpy
packaging==21.3
pyparsing==3.0.9
PyYAML==6.0
regex==2022.9.13
requests==2.28.1
setuptools
sentence_transformers
timecode==1.3.1
tokenizers==0.12.1
torch
torchaudio
onnxruntime
tqdm
transformers>=4.19.0
typing_extensions==4.3.0
urllib3==1.26.12
openai-whisper @ git+https://github.com/openai/whisper.git@b91c907694f96a3fb9da03d4bbdc83fbcd3a40a4
dtw-python
resampy
openai
spacy>=3.0.0
spacy-langdetect
clip @ git+https://github.com/openai/CLIP.git@a9b1bf5920416aaeaec965c25dd9e8f98c864f16
opencv-python
patchify
darkdetect
customtkinter @ git+https://github.com/octimot/CustomTkinter.git@32dacb3200534656a755ec8218b2725fa01b699f
ftfy
moviepy
scikit-image
scipy